* {
 font-family: IBM Plex Sans;
}

body {
 background-color: #ffedd2;
}
.div-padre {
 display: flex;
 justify-content: center;
}

.principal {
 width: 486px;
 height: 458px;
 border-radius: 25px;
 background-color: #ffffff;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 66px 51px 50px;
 border: thin solid black;
}

.div-imagen {
 height: 119px;
 width: 119px;
 background: url("./IMG/smile-gbf333bb7e_640.jpg") no-repeat center;
 background-size: cover;
 border-radius: 25px;
}

h1 {
 text-align: center;
 margin: 0%;
 margin-top: 40px;
 font-size: 22px;
}
